<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3  ">
    <div class="container">
        <a href="#" class="navbar-brand">Newzoo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a href="/science" class="nav-link">SCIENCE</a>
            </li>
            <li class="nav-item">
                <a href="/techno" class="nav-link">TECHNOLOGY</a>
            </li>
            <li class="nav-item">
                <a href="/health" class="nav-link">HEALTH</a>
            </li>
            <li class="nav-item">
                <a href="/sports" class="nav-link">SPORTS</a>
            </li>
            <li class="nav-item">
                <a href="/business" class="nav-link">BUSINESS</a>
            </li>
            <li class="nav-item">
                <a href="/entertainment" class="nav-link">ENTERTAINMENT</a>
            </li>
            <li class="nav-item">
                <form  action="/" method="POST">
                    <input class="formm" type="text" name="search" , placeholder="Search for news">
                    <input  class= "searchf" type="submit" value="search">
                </form>
            </li>
            </ul>
        </div>

    </div>
    
</nav>